.section{
height: 200px;
width: 200px;
margin:0px auto;
background-color: aqua;
border-radius: 50%;
overflow: hidden;
}
.section img{
width: 100%;
height: 100%;
}
.footer
{
min-height: 400px;

}
.footer img
{
height:70px;
}
.smi
{
    list-style-type:none;
}
.smi li
{
    display: inline-block;
    padding:4px 10px;
    color:white;
    background-color: black;
    border-radius:10px;
}
body
{
    background-color:lightgoldenrodyellow;
}
#nav
{
background-color:lightgray;
color:lightgray;
}
.con
{
list-style-type: none;
}
.con li
{
    display: inline-block;
    padding:4px 10px;
    margin:20px;
    color:white;
    background-color: black;
    border-radius:10px;
}
.nav1 li
{
padding:0px 20px;
background-color:;
color:;
}
.nav1 li a
{
    color: white;
    font-size: 20px;
}
